* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ed6a06;
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    background-image: linear-gradient(rgba(56, 56, 56, 0.5)), url(./img/background.webp);
    box-shadow: 0 20px 10px rgba(249, 0, 0, 0.649);
    background-size: cover;
    border-radius: 20px;
    width: 368px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center

}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ed6a06;
    margin-top: 10px;
}

h1{
    font-weight: 800;
}

p{
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o conteúdo ao centro */
    gap: 10px; /* Espaçamento entre a imagem e o parágrafo */
    width: 80%;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 10px 5px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

    p {
        color: #ffffff;
        margin: 0; /* Remove margens do parágrafo para alinhamento perfeito */
        text-align: center; /* Centraliza o texto dentro do parágrafo */
    }
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.link img {
    flex-shrink: 0; /* Garante que a imagem não seja redimensionada */
}

.logo {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 5px;

}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .profile {
        width: 80px;
        height: 80px;
    }

    /* h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .logo {
        width: 40px;
    } */
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        box-shadow: none;
    }

    /* .profile {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 16px;
    }

    p {
        font-size: 10px;
    }

    .link {
        padding: 8px;
    }

    .logo {
        width: 30px;
    } */
}